html, body, .main {
    height: 100%;
    background-color: hsla(40, 85%, 85%, 0.5);
}

body {
    background-image: url('../img/gplaypattern.png');
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body,
.pure-g   [class *= "pure-u"],
.pure-g-r [class *= "pure-u"] {
    font-family: 'open_sansregular', Arial, sans-serif;
}

a {
    text-decoration: none;
    color: #1B1B1B;
}

a:hover {
    text-weight: bold;
    color: #666;
}

header {
    padding-left: 25px;
    min-height: 10%;
    max-height: 150px;
    background-color: hsl(144, 57%, 52%);
    z-index: 1;
}

header h1 {
    font-family: 'open_sansbold', Arial, sans-serif;
    letter-spacing: 0.05em;
}
small.description {
    padding-left: 15px;
    font-size: 65%;
    letter-spacing: 0;
}

.supervisors {
    padding: 100px 0 0 25px;
    height: 100%;
}