html, body, .main {
    height: 100%;
}

html {
    background: url('../img/gplaypattern.png') repeat;
}

.main {
    background-color: hsla(40, 85%, 85%, 0.4);
    overflow: auto;
}

* {
    /* simplify box model */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /* disable accidental highlighting */
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

body,
.pure-g   [class *= "pure-u"],
.pure-g-r [class *= "pure-u"] {
    font-family: 'open_sansregular', Arial, sans-serif;
}

a {
    text-decoration: none;
    color: #1B1B1B;
}

a:hover {
    text-weight: bold;
    color: #666;
}

.main > header.pure-menu {
    padding-left: 25px;
    background-color: hsl(144, 57%, 52%);
    z-index: 1;
}

.main > header {
    font-family: 'open_sansbold', Arial, sans-serif;
    letter-spacing: 0.05em;
}

.main > header ul {
    float: right;
}
.main > header ul a {
    line-height: 60px;
    font-size: 1.2em;
    color: #1B1B1B;
}

.main > header ul a:hover {
    background-color: cornflowerblue;
}

.main h3.description {
    padding-left: .5em;
    line-height: 1.8em;
}

.supervisors {
    padding: 80px 25px 0;
    height: 100%;
}

.supervisor {
    padding: 10px 0 0 0;
    border-bottom: 2px solid #ccc;
}

.supervisor header {
    font-size: 1.15em;
    cursor: pointer;
}

.supervisor header .controls {
    float: right;
    font-size: 1.25em;
    position: relative;
    top: 5px;
}

.supervisor header .controls i {
    float: right;
}

.supervisor header .description a {
    margin-left: 5px;
    padding-left: 5px;
}

.supervisor header .process-count {
    margin-right: 5px;
}

.supervisor header .state {
    text-align: right;
    font-size: 1.25em;
}

.unhealthy .state i {
    color: hsl(0, 94%, 68%);
}

.healthy .state i {
    color: hsl(150, 70%, 40%);
}

.supervisor .process {
    padding: 5px 0;
}

.supervisor.opened .process {
    display: block;
}
.supervisor.closed .process {
    display: none;
}

.supervisor .process .name {
    padding-right: 10px;
    font-size: 1.15em;
    line-height: 1.5em;
}

.supervisor .process .description {
    line-height: 2em;
    font-size: 0.9em;
}

.supervisor .process .controls {
    float: right;
    line-height: 1em;
    font-size: 1.5em;
    cursor: pointer;
}

.controls {
    color: #3D3D3D;
}

.messages .error {
    color: #c7254e;
    background-color: #f9f2f4;
}
.messages .message {
    color: #1d9d74;
    background-color: #f1f9f7;
}

.messages {
    position: relative;
}

.messages span {
    position: absolute;
    right: 0px;
    padding: 5px;
    border-radius: 5px;
    font-size: 1em;
}


.supervisor .process .controls i {
    margin-left: 10px;
}

.supervisor .process .state {
    line-height: 1.2em;
    margin-right: 8px;
    padding: 0.3em;
    border-radius: 0.2em;
}

.supervisor .process.STARTING .state {
    /* light blue */
    background-color: hsl(200, 40%, 80%);
}

.supervisor .process.RUNNING .state {
    /* green */
    background-color: hsl(144, 57%, 52%);
}

.supervisor .process.STOPPED .state {
    /* grey */
    background-color: hsl(50, 20%, 80%);
}

.supervisor .process.BACKOFF .state {
    /* yellow */
    background-color: hsl(46, 100%, 72%);
}

.supervisor .process.EXITED .state {
    /* red */
    background-color: hsl(0, 94%, 68%);
}

.supervisor .process.FATAL .state {
    /* red */
    background-color: hsl(0, 94%, 68%);
}


.supervisor.error {
    color: hsl(0, 0%, 50%);
}

.supervisor.error code.err {
    padding-left: 10px;
    line-height: 1.5em;
    font-size: 1.25em;
    font-family: monospace;
}

.supervisor.error code.err::before {
    content: " | "
}

.supervisor.error > i {
    float: right;
}